@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Dosis:wght@600;700;800&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(Images/light-trails-buildings-min.jpg);
    background-size: cover;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
}

h2{
    font-size: 22px;
    color: white;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    background-color: #002847;
    padding: 5px 20px;
    border-radius: 50px;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    background-color: #4586AE;
    height: 30vh;
    width: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.clock #text{
    height: 15%;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #002847;
    opacity: .8;
}

@media screen and (max-width: 600px) {
    .clock span {
            height: 13vh;
            width: 12vh;
            font-size: 50px;
        }
    .clock #text {
        height: 22%;
        font-size: 10px;
    }
        h2 {
            font-size: 15px;
            padding: 3px 15px;
        }
}